@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">

    <h2>Computacion e informatica</h2>
    <hr />
    <article class="wrapper-item">
        <img src="~/Imagenes/computacion.jpeg" />
        <p>Computacion e informatica</p>
    </article>

</main>