@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2>Beca</h2>
    <hr />
    <article class="wrapper-item">
        <img src="~/Imagenes/electricidad.jpeg" />
        <p>Beca Estudiantil</p>
    </article>
</main>