@{
    ViewBag.Title = "Home Page";
}

<main class="container py-4">
    <h2 class="text-center mb-4">Plataforma Cibertec</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="~/Imagenes/computacion.jpeg" class="card-img-top" alt="Computación e informática">
                <div class="card-body">
                    <h5 class="card-title">Computación e Informática</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="~/Imagenes/cienciadatos.jpeg" class="card-img-top" alt="Ciencia de Datos">
                <div class="card-body">
                    <h5 class="card-title">Ciencia de Datos</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="~/Imagenes/electricidad.jpeg" class="card-img-top" alt="Técnico en Electricidad">
                <div class="card-body">
                    <h5 class="card-title">Técnico en Electricidad</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="~/Imagenes/ingenieriainformatica.jpeg" class="card-img-top" alt="Ingeniería Informática">
                <div class="card-body">
                    <h5 class="card-title">Ingeniería Informática</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="~/Imagenes/inteligenciaartificial.jpeg" class="card-img-top" alt="Inteligencia Artificial">
                <div class="card-body">
                    <h5 class="card-title">Inteligencia Artificial</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="~/Imagenes/bigdata.jpeg" class="card-img-top" alt="Big Data">
                <div class="card-body">
                    <h5 class="card-title">Big Data</h5>
                </div>
            </div>
        </div>
    </div>
</main>
