
@{
    ViewBag.Title = "Home Page";
}

<main>

    <section id="main-content">
        <article>
            <header>
                <h1>Esta es una página con cabecera fija</h1>
            </header>

            <img src="~/imagenes/dragonball.jpg" alt="Gatito" />

            <div class="content">
                <p>
                    Dragon Ball (ドラゴンボール lit. Bola de dragón/Esfera del dragón?)
                    es un manga escrito e ilustrado por Akira Toriyama. Fue publicado
                    originalmente en la revista Shōnen Jump, de la editorial japonesa
                    Shūeisha, entre 1984 y 1995.1​2​ Su trama describe las aventuras de
                    Gokū, un guerrero saiyajin, cuyo fin es proteger a la Tierra de
                    otros seres que quieren conquistarla y exterminar a la humanidad.
                    Conforme transcurre la trama, conoce a otros personajes que le
                    ayudan en este propósito. El nombre de la serie proviene de unas
                    esferas mágicas que al ser reunidas invocan a un dragón que concede
                    deseos. En varias ocasiones resultan útiles tanto para Gokū y sus
                    amigos como para la humanidad, aunque también son procuradas de
                    forma constante por algunos seres malignos. El manga tuvo 519
                    capítulos impresos recopilados en 42 volúmenes tankōbon.1​2​ Dos
                    años después de su lanzamiento, Toei Animation estrenó una
                    adaptación anime que abarcó aproximadamente la primera mitad de la
                    obra. Una vez concluida su transmisión en 1989 por el canal Fuji
                    Television en Japón, Toei estrenó una continuación titulada Dragon
                    Ball Z, la cual incorporó el contenido restante del manga.1​ Un
                    tercer anime producido por el mismo estudio se estrenó en 1996.
                    Denominado Dragon Ball GT, posee un argumento inédito en cuya
                    redacción no participó Toriyama.3​ En 2015 comenzó a emitirse Dragon
                    Ball Super en Fuji Television, anime que continúa los sucesos de
                    Dragon Ball Z y que cuenta con una adaptación al manga, publicada a
                    partir de junio del mismo año en Shōnen Jump.4​ La violencia y
                    desnudez presentes en algunos episodios tanto del anime como del
                    manga provocaron la censura por parte de las distribuidoras en
                    distintos países.5
                </p>

                <p>
                    Freezer es un ser que conquista planetas para venderlos después a
                    través de una organizaciónNota 1​ a la que pertenecen criaturas de
                    distintas razas. Una de ellas es la de los saiyajin, seres con
                    aspecto humano y poseedores de una considerable fuerza. Temeroso de
                    que representen una amenaza para su dominio, Freezer decide usar sus
                    poderes para aniquilarlos destruyendo su hogar, el planeta
                    Vegeta.16​ Solo unos cuantos saiyajin sobreviven a la masacre, entre
                    ellos Vegeta, Nappa y los hermanos Raditz y Kakarotto, a quienes
                    prefiere dejar con vida para que sigan sirviendo a su propósito.
                    Para asegurarse de que sigan teniéndole lealtad, les miente al
                    decirles que la destrucción de su planeta se había debido al impacto
                    de un meteorito.17​ Kakarotto, que todavía es un bebé, es enviado en
                    una nave espacial a la Tierra, para que cuando crezca extermine a la
                    humanidad y se apodere del planeta. La nave de Kakarotto llega a su
                    destino y se impacta en algún sitio al que después llega un anciano
                    llamado Son Gohan que descubre a Kakarotto en el interior del
                    vehículo espacial. Aunque desconoce su origen, Gohan lo adopta como
                    su propio nieto y lo bautiza como «Gokū». Poco después, por descuido
                    el bebé cae desde un acantilado y se golpea la cabeza, lo cual le
                    ocasiona una amnesia que le hace olvidar su origen saiyajin.18
                    Gohan se hace cargo del pequeño hasta su muerte algunos años
                    después, tras lo cual el niño queda desamparado. Poco después conoce
                    a Bulma, una joven que busca las Dragon Balls, siete esferas mágicas
                    que al reunirlas permiten llamar al dragón Shenlong, una criatura
                    capaz de concederle cualquier deseo al responsable de juntar todas
                    las esferas.19​ Gokū decide acompañar a Bulma en su búsqueda, y en
                    la aventura ambos conocen a otros personajes como Oolong, Yamcha y
                    Puar, así como al villano Pilaf que también quiere las Dragon Balls
                    para «conquistar el mundo». Para mejorar sus habilidades de combate
                    y participar en un torneo de artes marciales denominado Tenkaichi
                    Budōkai, el protagonista entrena con Kame Sennin, un anciano maestro
                    de artes marciales que le enseña varias técnicas, entre las cuales
                    destaca el Kame Hame Ha. En su entrenamiento Gokū conoce a Krilin,
                    otro alumno de Kame Sennin quien acompaña al saiyajin en otras
                    varias aventuras, y a Ten Shin Han.20​ Conforme transcurre la serie,
                    Gokū se enfrenta a otros antagonistas como el ejército Red
                    Ribbon,21​ Tao Pai Pai22​ y Piccolo Daimaō,23​ y continúa su
                    entrenamiento con otros maestros como Karin24​ y Kamisama, dios de
                    la Tierra y creador de las Dragon Balls.25​ Se casa con Chi-Chi,26
                    con quien tiene dos hijos: Gohan27​ y Goten.28​ No es sino hasta la
                    aparición en la Tierra de los otros guerreros saiyajin, y del propio
                    Freezer, que Gokū se entera de su pasado. En su afán por proteger a
                    la humanidad se enfrenta a estos y los derrota. Este mismo ideal lo
                    lleva a combatir luego a otros enemigos, entre los cuales sobresalen
                    el androide Cell29​ y la criatura Majin Boo30​ Es ayudado por otros
                    personajes como Piccolo y Vegeta, con quienes mantuvo una enemistad
                    efímera, o Trunks, y obtiene enseñanzas de seres espirituales como
                    Kaiō Sama, que le instruye con las técnicas Genkidama y Kaiō Ken;31
                    y Kaiō Shin del Este.32​ Tiempo después se entera de que existen
                    otros seres poderosos que rigen el universo, como Bills, el dios de
                    la destrucción,33​ así como otros tipos de Dragon Balls con mayor
                    poder que las originales: las «Dragon Balls definitivas» —cuya
                    ubicación le lleva a recorrer el espacio exterior junto con Trunks,
                    su nieta Pan y el robot Giru, que les lleva a enfrentarse a un nuevo
                    enemigo llamado Baby y a combatir a dragones perversos—34​35​36​ y
                    las «Super Dragon Ball» que poseen cada una el tamaño de un
                    planeta.37​ Al final de Dragon Ball GT, debido a que las Dragon
                    Balls originales acumulan un alto nivel de «energía negativa» en su
                    interior, debido a su uso constante en la Tierra, Gokū parte sin
                    rumbo junto con Shenlong para mantener equilibrada la energía de las
                    esferas. Su cuerpo se desvanece al mismo tiempo que desaparecen las
                    Dragon Balls.38
                </p>

                <p>
                    Una parte importante del argumento de Dragon Ball ocurre en el
                    planeta Tierra (地球 Chikyū?). Toriyama concibió el universo de su
                    obra como una «gran esfera» dividida en dos sectores: en el inferior
                    habitan los seres vivos («reino de los vivos»), mientras que en el
                    superior está el «más allá» (あの世 Anoyo?), aquel lugar al que se
                    dirigen los personajes después de su muerte, así como hogar de
                    ciertos espíritus y deidades. En medio de los dos sectores se
                    encuentra el infierno (地獄 Jigoku?), destino de aquellos seres
                    malignos cuando fallecen. Pueden distinguirse cuatro cuadrantes en
                    el reino de los vivos, cada uno de los cuales está regido por un ser
                    divino conocido como Kaiō (界王 Kaio?). A su vez existen otros seres
                    más poderosos que supervisan a los Kaiō, los Kaiō Shin (界王・界王神
                    Kaio Shin?), considerados como «dioses de la creación».39​ En
                    contraparte, existen los «dioses de la destrucción» que tienen como
                    objetivo exterminar la vida para garantizar así un balance en el
                    universo.40​ Hay una docena de universos; la Tierra se encuentra en
                    el séptimo, ubicado en la región noreste del cosmos. Es gobernada
                    por el dios Kamisama (神様 Kami-sama?) —creador de las Dragon Balls
                    terrestres—, que es supervisado por Kaiō del Norte.39​ Otros lugares
                    notables en Dragon Ball son el Planeta Vegeta (惑星ベジータ Wakusei
                    Bejīta?) de donde provienen los saiyajin (サイヤ人?), guerreros con
                    una fuerza sobrehumana y habilidades de combate; Namek (ナメック星
                    Namekku-sei?), de donde proviene Kamisama y en el cual existen otras
                    Dragon Balls creadas por Saichōrō, su gobernante;41​ o el planeta
                    pequeño donde habita Kaiō del Norte, ubicado en el más allá
                    (Originalmente un planeta de proporciones normales, pero encogido
                    por el dios destructor Bills).31​ En la Tierra habitan seres con
                    características idénticas a los humanos, y que en algunos casos son
                    más débiles que los saiyajin y otras razas alienígenas; además de
                    criaturas antropomorfas parlantes —por ejemplo Oolong y Puar— y
                    dinosaurios, al igual que organismos artificiales conocidos como
                    androides (人造人間 jinzōningen?). Aquí se encuentra la Torre de
                    Karin (カリン塔 Karin-tō?), donde habita el maestro Karin y que se
                    conecta con el Palacio de Kamisama (神様の神殿 Kamisama no
                    Shinden?), hogar del dios de la Tierra,24​ al igual que la sede del
                    torneo Tenkaichi Budōkai (天下一武道会?), en donde participan los
                    guerreros más fuertes del mundo. Los acontecimientos del anime
                    Dragon Ball GT, cuyo argumento no fue escrito por Toriyama, ocurren
                    en su mayoría en el espacio exterior y en otros planetas que no
                    aparecen en el manga. De forma similar, otros universos y sus
                    habitantes son descritos en el anime Dragon Ball Super. Los
                    principales objetos en la serie son las Dragon Balls, siete esferas
                    de color anaranjado con un número distinto de estrellas rojas cada
                    una en su interior. Existen cuatro tipos diferentes: las terrestres,
                    las del planeta Namek, las definitivas —estas últimas aparecen
                    únicamente en Dragon Ball GT— y las «Super Dragon Ball» —que
                    aparecen en Dragon Ball Super—. Cuando todas son reunidas, permiten
                    convocar a un dragón mágico diferente —Shenlong (神龍?), Polunga
                    (ポルンガ Porunga?), Shenlong Rojo (赤いシェンロン Akai Shenron?) y
                    Super Shenlong (超神龍?) respectivamente—, que puede cumplir uno o
                    más deseos al responsable de reunir las esferas. Si bien los sucesos
                    originales tratan sobre la búsqueda de estos objetos, conforme
                    transcurre Dragon Ball su trama se va centrando en la lucha de los
                    guerreros Z —Gokū y sus amigos— contra otros seres que anhelan
                    conquistar el planeta, destruirlo o exterminar a los saiyajin
                    supervivientes a la destrucción del planeta Vegeta. Uno de los
                    principales elementos de la serie es el combate: además del
                    enfrentamiento con el cuerpo, también es posible que los personajes
                    desarrollen poderes y técnicas especiales. Algunas de las más
                    importantes son el Kame Hame Ha (かめはめ波?), enseñada a Gokū por
                    Kame Sennin; el Kaiō Ken (界王拳?), capaz de incrementar la energía
                    corporal —conocida como Ki (気?)—; y la Genkidama (元気玉?), una
                    esfera de energía con capacidad destructiva.20​ Algunos personajes
                    pueden recurrir a la transformación física para adquirir una mayor
                    energía o velocidad, como es el caso de los saiyajin —que pueden
                    llegar a más de cuatro niveles de transformación;42​ o de villanos
                    como Freezer, Cell y Majin Boo. En otros casos, los personajes
                    pueden recurrir a la fusión física para combinar su energía y
                    obtener más poder.39
                </p>
            </div>
        </article>
    </section>
</main>